<a href="https://colab.research.google.com/github/GeulHae/GeulHae/blob/dev_dataAnalysis/Revision.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2023Y 2Q 사업Revision

<br>

## 1. 가동률
### 1) 전체모수(M/M), 가동수(M/M), 비가동수(M/M), Overbooking
### 2) 개인별 가동율 Max, Min, Mean / 편차 1 시그마, 중앙값(Me), 최빈값(Mo)   
<br>



## 2. 정량성과 집행율
### 개인별 Max, Min / 편차 1 시그마, 중앙값(Me), 최빈값(Mo)

In [ ]:
import pandas as pd
import numpy as np

import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno
import plotly.express as px

In [ ]:
df1 = pd.read_csv('.csv')

In [ ]:
df1.info()

In [ ]:
df1[''].unique()

In [ ]:
df1[''].value_counts()

In [ ]:
df1[''].mean()

In [ ]:
df1[''].median()

In [ ]:
df1[''].std()

In [ ]:
df1[''].min()

In [ ]:
df1[''].max()

In [ ]:
# 사분범위 (Inter Quantile Range , IQR ) :
# 중위수를 기준으로 전체 데이터의 50%가 분포해 있는 범위

df1[''].describe()

In [ ]:
# 층별화 (범주형 항목에 대해 데이터를 나누어 확인)

# NaN : Not A Number / 결측값
# fill_value=  : Pivot Table결과에서 결측값을 다른 값으로 대체

df1.pivot_table(index='', values='', columns='', aggfunc=['mean', 'median', 'min', 'max'], fill_value=0)